{% extends 'base.html' %}
{% block content %}
    <h1>Rizz Shop</h1>

    <h5>Name:</h5> 
    <p>{{ name }}</p>

    <h5>Class:</h5>
    <p>{{ class }}</p>


    <table style="border-collapse: separate; border-spacing: 15px;">
        <tr>
            <th>Nama</th>
            <th>Price</th>
            <th>Description</th>
            <th>Amount</th>
        </tr>
        
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td>{{product.amount}}</td>
            </tr>
    </table>

    <br />

    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>

    <h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}
